.Card{
  background-image: linear-gradient(rgb(28, 134, 6), rgba(21, 97, 6), rgb(5, 29, 1)) ;
  position: relative;
  margin-left: 1rem;
  contain: content;
  box-sizing: inherit;
  border-radius: 10px;
}
.imgAvatar{
  width: 100%;
  height: 50%;
  /* padding: .5rem; */
}
.Card button{
  position: absolute;
  background-color: red;
  border: none;
  padding-top: 0.6rem;
  border-radius: 5px;
  padding-bottom: 0.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}
.Card button:hover{
  background-color: orange;
}

.CardInfo{
  margin-top: 2.5rem;
  font-size: .8rem;
  color: white;
}
.CardInfo h2{
  padding: 0.2rem;
}
.CardInfo h2:hover{
  background-color: rgb(57, 66, 87);
  color: gold;
  
}
.imgPortal{
  width: 30%;
  height: 100%;
  transform: rotate(88deg);
  position: absolute;
  bottom: 0%;
  left: 44%;
}